.vs/
*.suo
*.user
*.sln.docstates
*.vcxproj.filters
*.vcxproj.user
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.log
haarcascade_*.xml
*.opensdf
*.sdf
*.db
*.opendb
*.VC.VC.opendb